.boxes {
    display: flex;
    width: 100%;
}

.main-ui {
    max-width: 800;
    margin: 0 auto;
}

.sizer {
    width: 400px;
    margin: 0 auto;
    margin-top: 30;
    display: flex;
    justify-content: center;
}

.our-form {
    display: flex;
    justify-content: center;
}

.progress1 {
    border: 1px solid #c7c7c7;
    border-right: none;
    position: relative;
}

.progress-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #7ecc00;
    opacity: .57;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4s ease-out;
}

.box {
    height: 40px;
    border-right: 1px solid #c7c7c7;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .82);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    
}

body.overlay-is-open .main-ui {
    filter: blur(4);
}

@keyframes showError {
    50% {
        color: red;
        transform: scale(1.7);
    }

    100% {
        color: #333;
        transform: scale(1);
    }
}

.animate-wrong {
    animation: .43s showError;
}

.problem {
    text-align: center;
    padding-top: 10px;
}

/* diffrent */

@keyframes showGood {
    50% {
        color: rgb(71, 216, 71);
        transform: scale(1.7);
    }

    100% {
        color: #333;
        transform: scale(1);
    }
}

.correct-animation {
    animation: .43s showGood;
}
